Rebasing/Rebasing/Rebasing.vcxproj.user
Rebasing/Rebasing/Rebasing.vcxproj.filters
Rebasing/Rebasing/Rebasing.vcxproj
Rebasing/Rebasing.sln
Rebasing/.vs/Rebasing/v15/Browse.VC.opendb
Rebasing/.vs/Rebasing/v15/Browse.VC.db
